body{
    font-family: Arial, sans-serif;
  }
  
  .Sec_Certi{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .Container {
    width: 500px;
    margin-top: auto;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  h1 {
    text-align: center;
  }
  
  .certificates {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    /* margin-top: 20px; */
  }
  
  .certificate {
    width: fit-content;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
  }

  .Certi_Img{
    width: 100%;
    /* height: 100%; */
  }
  
  .certificate img {
    width: 350px;
  }
  
  .certificate p {
    margin-top: 10px;
  }
  
  header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    .team-member {
      text-align: center;
      padding: 30px;
    }
    .team-member img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
    
    .team-member h2 {
      font-size: 24px;
      margin-bottom: 5px;
    }
    
    .team-member p {
      font-size: 18px;
    color:#666;
    }
    
    h1 {
      text-align: center;
    }
    
    form {
      margin-top: 20px;
    }
    
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }
    
    textarea {
      width: fit-content;
      height: 100px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;

    }
    
    button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #45a049;}